################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DynamicLayout/obj/Debug
/DynamicLyayout2/bin/Debug
/DynamicLyayout2/obj
/Json2View/bin/Debug
/Json2View/obj/Debug
